body {
  padding: 0;
  margin: 0;
  background-color: #efefef;
}

input {
  scroll-margin-top: -100px;
}

.adm-space {
  --gap: 12px;
}

.adm-number-keyboard-header {
  background-color: #333;
}

.adm-number-keyboard-key {
  height: 64px;
  border-color: #454545;
}

.adm-number-keyboard-key.extra-key,
.adm-number-keyboard-key.number-key {
  background-color: #333;
  color: #999;
}
.adm-number-keyboard-key.sign-key {
  background-color: #666 !important;
  color: #ccc;
}

.adm-number-keyboard-popup.adm-popup .adm-popup-body {
  padding-bottom: 16px;
  background-color: #333;
}

.adm-number-keyboard-key.sign-key {
  background-color: #f5f5f5;
}

.adm-list-item-description {
  position: relative;
}
.adm-list-item-content {
  padding: 14px 14px 14px 0;
}

.adm-form-item-footer {
  position: absolute;
  top: 100%;
  left: 0;
  font-size: 12px;
}
